<% include ../partials/header %>
<% include ../partials/navbar %>

  <div class="container">
      <div class="row">
          <div class="col-md-8 col-md-offset-2">
              <div class="panel panel-default ">
                  <div class="panel-heading">Add Event</div>
                  <div class="panel-body">
                      <form class="form-horizontal" method="POST" action="/events/add">
                          <div class="form-group">
                              <label for="eventTitle" class="col-md-4 control-label">Event Title</label>
                              <div class="col-md-6">
                                  <input id="eventTitle" type="text" class="form-control" name="newEventTitle" value="">
                              </div>
                          </div>
                          <div class="form-group">
                              <label for="eventOrganizer" class="col-md-4 control-label">Event Organizer</label>
                              <div class="col-md-6">
                                  <input id="eventOrganizer" type="text" class="form-control" name="newEventOrganizer">
                              </div>
                          </div>
                          <div class="form-group">
                              <label for="dueDate" class="col-md-4 control-label">Due Date</label>
                              <div class="col-md-6">
                                  <input id="dueDate" type="text" class="form-control" name="newDueDate" placeholder="mm/dd/yyyy">
                              </div>
                          </div>
                          <div class="form-group">
                              <div class="col-md-8 col-md-offset-4">
                                  <button type="submit" class="btn btn-primary">
                                      Add
                                  </button>
                              </div>
                          </div>
                      </form>
                  </div>
              </div>
          </div>
      </div>
      <h4><font color="red"><center><%= err %></center></br></font></h4>
  </div>

<% include ../partials/footer %>
