<% include ../partials/header %>
<% include ../partials/navbar %>

  <h3><%= err %></h3>
  <div>
    <form action="" method="post">
      <input type="text" value="" name="newEventTitle" placeholder="event title here..."></br>
      <input type="text" value="" name="newEventOrganizer" placeholder="event organizer here..."></br>
      <input type="text" value="" name="newDueDate" placeholder="mm/dd/yyyy"></br>
      <input type="submit">
    </form>
  </div>

<% include ../partials/footer %>
