<% include ../partials/header %>
<% include ../partials/navbar %>

<div class="container">
  <h2>List of Attendees</h2>
  <table class="table">
    <thead>
      <th>No</th>
      <th>Name</th>
      <th>Email</th>
    </thead>
    <tbody>
      <% if(data!==null){ %>
        <% for(let i=0; i<data.length; i++){ %>
          <tr>
            <td><%= Number(i)+1 %></td>
            <td><%= data[i].User.name %></td>
            <td><%= data[i].User.email %></td>
          </tr>
        <% } %>
      <% } %>
    </tbody>
  </table>
</div>

<% include ../partials/footer %>
