<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/" style="color:white">YukMeetup!</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li class="active"><a href="/">Home</a></li>
      <% if (!user) { %>
        <li><a href="/users/login">Login</a></li>
        <li><a href="/users/register">Register</a></li>
      <% } else { %>
        <li><a href="/users/profile">My Profile (<%= user.email %>)</a></li>
        <li><a href="/events">My Event List</a></li>
        <li><a href="/users/logout">Logout</a></li>
        <a href="/events/add" class="btn btn-danger navbar-btn" >Create New Event</a>
      <% }%>

    </ul>
  </div>
</nav>
